.event-page {
  .navbar {
    color: #f66440;

    .tix-name {
      font-weight: 900;
      color: #f66440;
    }

    .welcome-text {
      margin-right: 20px;
      font-size: 13px;
    }

    .nav-link {
      color: #f66440
    }
  }
}
